<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_DIR" value="./logs"/>
    <property name="APP_NAME" value="leetcode"/>
    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d [%-16thread] %-5level %logger{36} %line --- %msg%n</pattern>
        </layout>
    </appender>
    <appender name="INFO_LOG" class="ch.qos.logback.core.FileAppender">
        <File>${LOG_DIR}/info.${APP_NAME}.log</File>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%-16thread{16}] %-5level %logger{36} %line --- %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="ERROR_LOG" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Error</level>
        </filter>
        <File>${LOG_DIR}/error.${APP_NAME}.log</File>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%-16thread{16}] %-5level %logger{36} %line --- %msg%n</pattern>
        </encoder>
    </appender>
    

    <root level="info">
                <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </root>
</configuration>